<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/dashboard.js"></script>
    <title>Dashboard</title>
    

</head>
<body onload="startupScript()">
    
<h1>Dashboard</h1>
Debug:<p id="text">

</p>
<dl>
<dt>AnnexTV</dt>
<dd>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','ON', '0')">ON</button>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','OFF', '0')">OFF</button>
</dd>

<br>
<br>

<dt>ReverseTV</dt>
<dd>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','ON', '1')">ON</button>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','OFF', '1')">OFF</button>
</dd>

<br>
<br>

<dt>BalconyTV</dt>
<dd>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','ON', '2')">ON</button>
<button style="width:100px;height:60px;onclick="sendCommand('SHARP','OFF', '2')">OFF</button>
</dd>

<br>
<br>

<dt>Left Projector</dt>
<dd>
<button style="width:100px;height:60px;onclick="sendCommand('BENQ','ON', '3')">ON</button>
<button style="width:100px;height:60px;onclick="sendCommand('BENQ','OFF', '3')">OFF</button>
</dd>

<br>
<br>

<dt>Right Projector</dt>
<dd>
<button style="width:100px;height:60px;onclick="sendCommand('BENQ','ON', '4')">ON</button>
<button style="width:100px;height:60px;onclick="sendCommand('BENQ','OFF', '4')">OFF</button>
</dd>

<br>
<br>
<br>

<dt>Presets</dt>
<dd>
<button style="width:100px;height:60px;onclick="applyPreset('canto')">Cantonese</button>
<button style="width:100px;height:60px;onclick="applyPreset('mando')">Mandarin</button>
<button style="width:100px;height:60px;onclick="applyPreset('eng')">English</button>
</dd>
</dl>

<br>
<br>
<br>
<a href="./presetconfig">Go to Config page</a>

</body>


</html>
