<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/dashboard.js"></script>
    <title>Dashboard</title>
    

</head>
<body onload="startupScript()">
<p id="text">

</p>

<button onclick="sendCommand('SHARP','ON')">SHARP ON</button>
<button onclick="sendCommand('SHARP','OFF')">SHARP OFF</button>

<br>
<br>
<br>
<a href="./presetconfig">Go to Config page</a>

</body>


</html>
