<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    
    <p>
        
    </p>
</head>
<body onload="startupScript()">

</body>

<script>
    var deviceCommands;
    var xhr;
    function startupScript(){
        xhr = new XMLHttpRequest();
        var url = "getDeviceCommands";
        xhr.open("GET",url, true);
        xhr.send();
        
        xhr.addEventListener("readystatechange", processRequest, false);
    }
    
    function processRequest(e){
        if(xhr.readyState == 4 && xhr.status == 200){
            deviceCommands = xhr.responseText;
            alert(deviceCommands);
        }
    }
</script>
</html>
