<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/presetconfig.js"></script>
    <title>Preset Config</title>
</head>
<body>
    <h1>Preset Config</h1>
    <form action="setConfig" method="post" id="configForm">
    
        <p>
            Congregation:

            </br><label><input type="radio" id="congregationCanto"  name="congregationSel" value="canto" onclick="congregationChange()">Cantonese</>
            </br><label><input type="radio" id="congregationEng"    name="congregationSel" value="eng" onclick="congregationChange()">English</label>
            </br><label><input type="radio" id="congregationMando"  name="congregationSel" value="mando" onclick="congregationChange()">Mandarin</label>
        </p>
        <p>
            Projector Left:
            <label><input type="radio" id="projLeftOnRadio"         name="projLeft" value="on">ON</label>
            <label><input type="radio" id="projLeftOffRadio"        name="projLeft" value="off">OFF</label>
            <label><input type="radio" id="projLeftNARadio"   name="projLeft" value="na">No Action</label>
        </p>
        
        <p>
            Projector Right:
            <label><input type="radio" id="projRightOnRadio"         name="projRight" value="on">ON</label>
            <label><input type="radio" id="projRightOffRadio"        name="projRight" value="off">OFF</label>
            <label><input type="radio" id="projRightNARadio"   name="projRight" value="na">No Action</label>
        </p>
        <br/>
        <p>
            TV Annex:
            <label><input type="radio" id="tvAnnexOnRadio"         name="tvAnnex" value="on">ON</label>
            <label><input type="radio" id="tvAnnexOffRadio"        name="tvAnnex" value="off">OFF</label>
            <label><input type="radio" id="tvAnnexNARadio"   name="tvAnnex" value="na">No Action</label>
        

        </p>

        <p>
            TV Annex Input:
            <label><input type="radio" id="tvAnnexInputDefaultRadio"  name="tvAnnexInput" value="input">Input X</label>
            <label><input type="radio" id="tvAnnexInputNARadio" name="tvAnnexInput" value="na">No Action</label>
        </p>
        <br/>
        <p>
            TV Reverse:
            <label><input type="radio" id="tvReverseOnRadio"         name="tvReverse" value="on">ON</label>
            <label><input type="radio" id="tvReverseOffRadio"        name="tvReverse" value="off">OFF</label>
            <label><input type="radio" id="tvReverseNARadio"   name="tvReverse" value="na">No Action</label>
        </p>
        
        <p>
            TV Reverse Input:
            <label><input type="radio" id="tvReverseInputDefaultRadio"  name="tvReverseInput" value="input">Input X</label>
            <label><input type="radio" id="tvReverseInputNARadio" name="tvReverseInput" value="na">No Action</label>
        
        </p>
        <br/>
        <p>
            TV Balcony:
            <label><input type="radio" id="tvBalconyOnRadio"         name="tvBalcony" value="on">ON</label>
            <label><input type="radio" id="tvBalconyOffRadio"        name="tvBalcony" value="off">OFF</label>
            <label><input type="radio" id="tvBalconyNARadio"   name="tvBalcony" value="na">No Action</label>
        </p>
        
        <p>
            TV Balcony Input:
            <label><input type="radio" id="tvBalconyInputDefaultRadio"  name="tvBalconyInput" value="input">Input X</label>
            <label><input type="radio" id="tvBalconyInputNARadio" name="tvBalconyInput" value="na">No Action</label>
        
        </p>
        <br/>
        <p>
            TV Fireplace:
            <label><input type="radio" id="tvFireplaceOnRadio"         name="tvFireplace" value="on">ON</label>
            <label><input type="radio" id="tvFireplaceOffRadio"        name="tvFireplace" value="off">OFF</label>
            <label><input type="radio" id="tvFireplaceNARadio"   name="tvFireplace" value="na">No Action</label>
        </p>
        
        <p>
            TV Fireplace Input:
            <label><input type="radio" id="tvFireplaceInputDefaultRadio"  name="tvFireplaceInput" value="input">Input X</label>
            <label><input type="radio" id="tvFireplaceInputNARadio" name="tvFireplaceInput" value="na">No Action</label>
        
        </p>
        <br/>

    </form>
    <Button onclick="submitButtonAction()">Apply</Button>  <a href="./dashboard">Go To Dashboard</a>
    <p></p>
    <br/>
</body>

</html>
