<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preset Config</title>
</head>
<body>
    This is the preset config page
    <form action="getConfig" method="post">
    
        <p>
            Congregation:
            <input type="radio" id="congregationCanto"  name="congregationSel" value="canto">Cantonese
            <input type="radio" id="congregationEng"    name="congregationSel" value="eng">English
            <input type="radio" id="congregationMando"  name="congregationSel" value="mando">Mandarin
        </p>
        
        <p>
            Projector Left:
            <input type="radio" id="projLeftOnRadio"         name="projLeft" value="on">ON
            <input type="radio" id="projLeftOffRadio"        name="projLeft" value="off">OFF
            <input type="radio" id="projLeftNoActionRadio"   name="projLeft" value="na">No Action
        </p>
        
        <p>
            Projector Right:
            <input type="radio" id="projRightOnRadio"         name="projRight" value="on">ON
            <input type="radio" id="projRightOffRadio"        name="projRight" value="off">OFF
            <input type="radio" id="projRightNoActionRadio"   name="projRight" value="na">No Action
        </p>
        
        <p>
            TV Annex:
            <input type="radio" id="tvAnnexOnRadio"         name="tvAnnex" value="on">ON
            <input type="radio" id="tvAnnexOffRadio"        name="tvAnnex" value="off">OFF
            <input type="radio" id="tvAnnexNoActionRadio"   name="tvAnnex" value="na">No Action
        
            | Input:
            <input type="radio" id="tvAnnexInputDefaultRadio"  name="tvAnnexInput" value="on">Input X
            <input type="radio" id="tvAnnexInputNoActionRadio" name="tvAnnexInput" value="na">No Action
        </p>
        
        <p>
            TV Reverse:
            <input type="radio" id="tvReverseOnRadio"         name="tvReverse" value="on">ON
            <input type="radio" id="tvReverseOffRadio"        name="tvReverse" value="off">OFF
            <input type="radio" id="tvReverseNoActionRadio"   name="tvReverse" value="na">No Action
        </p>
        
        <p>
            TV Reverse Input:
            <input type="radio" id="tvReverseInputDefaultRadio"  name="tvReverseInput" value="on">Input X
            <input type="radio" id="tvReverseInputNoActionRadio" name="tvReverseInput" value="na">No Action
        
        </p>
        
        <p>
            TV Balcony:
            <input type="radio" id="tvBalconyOnRadio"         name="tvBalcony" value="on">ON
            <input type="radio" id="tvBalconyOffRadio"        name="tvBalcony" value="off">OFF
            <input type="radio" id="tvBalconyNoActionRadio"   name="tvBalcony" value="na">No Action
        </p>
        
        <p>
            TV Balcony Input:
            <input type="radio" id="tvBalconyInputDefaultRadio"  name="tvBalconyInput" value="on">Input X
            <input type="radio" id="tvBalconyInputNoActionRadio" name="tvBalconyInput" value="na">No Action
        
        </p>
        
        <p>
            TV Fireplace:
            <input type="radio" id="tvFireplaceOnRadio"         name="tvFireplace" value="on">ON
            <input type="radio" id="tvFireplaceOffRadio"        name="tvFireplace" value="off">OFF
            <input type="radio" id="tvFireplaceNoActionRadio"   name="tvFireplace" value="na">No Action
        </p>
        
        <p>
            TV Fireplace Input:
            <input type="radio" id="tvFireplaceInputDefaultRadio"  name="tvFireplaceInput" value="on">Input X
            <input type="radio" id="tvFireplaceInputNoActionRadio" name="tvFireplaceInput" value="na">No Action
        
        </p>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
