<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Preset Config</title>
</head>

    This is the preset config page
    <form action="setConfig" method="post" id="configForm">
    
        <p>
            Congregation:
            <input type="radio" id="congregationCanto"  name="congregationSel" value="canto" onclick="congregationChange()">Cantonese
            <input type="radio" id="congregationEng"    name="congregationSel" value="eng" onclick="congregationChange()">English
            <input type="radio" id="congregationMando"  name="congregationSel" value="mando" onclick="congregationChange()">Mandarin
        </p>
        
        <p>
            Projector Left:
            <input type="radio" id="projLeftOnRadio"         name="projLeft" value="on">ON
            <input type="radio" id="projLeftOffRadio"        name="projLeft" value="off">OFF
            <input type="radio" id="projLeftNoActionRadio"   name="projLeft" value="na">No Action
        </p>
        
        <p>
            Projector Right:
            <input type="radio" id="projRightOnRadio"         name="projRight" value="on">ON
            <input type="radio" id="projRightOffRadio"        name="projRight" value="off">OFF
            <input type="radio" id="projRightNoActionRadio"   name="projRight" value="na">No Action
        </p>
        <br/>
        <p>
            TV Annex:
            <input type="radio" id="tvAnnexOnRadio"         name="tvAnnex" value="on">ON
            <input type="radio" id="tvAnnexOffRadio"        name="tvAnnex" value="off">OFF
            <input type="radio" id="tvAnnexNoActionRadio"   name="tvAnnex" value="na">No Action
        

        </p>

        <p>
            TV Annex Input:
            <input type="radio" id="tvAnnexInputDefaultRadio"  name="tvAnnexInput" value="input">Input X
            <input type="radio" id="tvAnnexInputNoActionRadio" name="tvAnnexInput" value="na">No Action
        </p>
        <br/>
        <p>
            TV Reverse:
            <input type="radio" id="tvReverseOnRadio"         name="tvReverse" value="on">ON
            <input type="radio" id="tvReverseOffRadio"        name="tvReverse" value="off">OFF
            <input type="radio" id="tvReverseNoActionRadio"   name="tvReverse" value="na">No Action
        </p>
        
        <p>
            TV Reverse Input:
            <input type="radio" id="tvReverseInputDefaultRadio"  name="tvReverseInput" value="input">Input X
            <input type="radio" id="tvReverseInputNoActionRadio" name="tvReverseInput" value="na">No Action
        
        </p>
        <br/>
        <p>
            TV Balcony:
            <input type="radio" id="tvBalconyOnRadio"         name="tvBalcony" value="on">ON
            <input type="radio" id="tvBalconyOffRadio"        name="tvBalcony" value="off">OFF
            <input type="radio" id="tvBalconyNoActionRadio"   name="tvBalcony" value="na">No Action
        </p>
        
        <p>
            TV Balcony Input:
            <input type="radio" id="tvBalconyInputDefaultRadio"  name="tvBalconyInput" value="input">Input X
            <input type="radio" id="tvBalconyInputNoActionRadio" name="tvBalconyInput" value="na">No Action
        
        </p>
        <br/>
        <p>
            TV Fireplace:
            <input type="radio" id="tvFireplaceOnRadio"         name="tvFireplace" value="on">ON
            <input type="radio" id="tvFireplaceOffRadio"        name="tvFireplace" value="off">OFF
            <input type="radio" id="tvFireplaceNoActionRadio"   name="tvFireplace" value="na">No Action
        </p>
        
        <p>
            TV Fireplace Input:
            <input type="radio" id="tvFireplaceInputDefaultRadio"  name="tvFireplaceInput" value="input">Input X
            <input type="radio" id="tvFireplaceInputNoActionRadio" name="tvFireplaceInput" value="na">No Action
        
        </p>
        <br/>

    </form>
    <Button onclick="submitButtonAction()">Submit</Button>  <a href="./dashboard">Go To Dashboard</a>
    <p></p>
    <br/>
</body>
<script>
    function submitButtonAction(){
        if(checkForm()){
            document.getElementById("configForm").submit();
        }else{
            alert("Please fill in all the fields");
        }

    }

    function checkForm(){
        var isConSelValid           = isFieldValid("congregationSel");
        var isProjLeftValid         = isFieldValid("projLeft");
        var isProjRightValid        = isFieldValid("projRight");
        var isTvAnnexValid          = isFieldValid("tvAnnex");
        var isTvAnnexInputValid     = isFieldValid("tvAnnexInput");
        var isTvReverseValid        = isFieldValid("tvReverse");
        var isTvReverseInputValid   = isFieldValid("tvReverseInput");
        var isTvBalconyValid        = isFieldValid("tvBalcony");
        var isTvBalconyInputValid   = isFieldValid("tvBalconyInput");
        var isTvFireplaceValid      = isFieldValid("tvFireplace");
        var isTvFireplaceInputValid = isFieldValid("tvFireplaceInput");

        return isConSelValid &&
               isProjLeftValid &&
               isProjRightValid &&
               isTvAnnexValid &&
               isTvAnnexInputValid &&
               isTvReverseValid &&
               isTvReverseInputValid &&
               isTvBalconyValid &&
               isTvBalconyInputValid &&
               isTvFireplaceValid &&
               isTvFireplaceInputValid ;
    }


    function isFieldValid(field){
        var x = document.getElementsByName(field);
        var i;

        var isValid = 0;

        for(i = 0;i<x.length;i++){
            if(x[i].checked == true){
                isValid = 1;
                break;
            }
            if(i == x.length-1){
                isValid = 0;
            }
        }

        return isValid;
    }

    var congregationPreset;
    var getPresetRequest;
    function congregationChange(){
        var form_elements = document.getElementById('configForm').elements;
        var congregation = form_elements['congregationSel'].value;
        fetchCongregationPreset(congregation);
    }



    function fetchCongregationPreset(congregation){
        getPresetRequest = new XMLHttpRequest();
        var url = "getConfig?congregation=" + congregation;
        getPresetRequest.open("GET",url, true);
        getPresetRequest.send();

        getPresetRequest.addEventListener("readystatechange",
            function (){
                if(getPresetRequest.readyState == 4 && getPresetRequest.status == 200){
                    congregationPreset = getPresetRequest.responseText;
                    alert(congregationPreset);
                }
        }, false);
     }




</script>
</html>
