<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status Report</title>
</head>
<body>
    <h1>Status Report</h1>
    <div style="width:25%;padding:0 15pt 0 0;float:left;"></div>

    <div style="width:25%;padding:0 15pt 0 0;float:left;">
        
    Left Projector:<br>
    Right Projector:<br>
    Annex TV:<br>
    Reverse TV:<br>
    Balcony TV:<br>
    Debug:<br>
    </div>

    <div style="width:25%;padding:0 15pt 0 0;">
    {{rfcomm3}}<br>
    {{rfcomm4}}<br>
    {{rfcomm0}}<br>
    {{rfcomm1}}<br>
    {{rfcomm2}}<br>
    {{rfcomm5}}<br>
    </div>
    
    <div style="width:25%;padding:0 15pt 0 0;float:right;"></div></div>

</body>
</html>
