<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Left Projector status: {{rfcomm3}}</h1><br>
    <h1>Right Projector status: {{rfcomm4}}</h1><br>
    <h1>Annex TV status: {{rfcomm0}}</h1><br>
    <h1>Reverse TV status: {{rfcomm1}}</h1><br>
    <h1>Balcony TV status: {{rfcomm2}}</h1><br>
    <h1>Debug status: {{rfcomm5}}</h1><br>

    <div style="width:40%;padding:0 10pt 0 0;float:left;">
Left Projector:
Right Projector:
Annex TV:
Reverse TV:
Balcony TV:
</div>

<div style="width:40%;padding:0 10pt 0 0;float:right;">
{{rfcomm3}}
{{rfcomm3}}
{{rfcomm3}}
{{rfcomm3}}
</div>

</body>
</html>
